.data-form {
  min-width: 150px;
  max-width: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.field {
 width: 100%;
}
button {
  background-color: #0073c9;
  color: #fff;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.message {
  display: block;
  width: 170px;
  text-align: center;
  background-color: skyblue;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
span {
  color: grey;
}